.body {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: #daf7a6;
}

.header {
  background-color: #ffffff;
}

.hone {
  color: #daf7a6;
}
